@{
    ViewBag.Title = "Knjige";
}

@model IEnumerable<RenderingViews.Models.Knjige>
<h1>Knjižnica</h1>
<section class="auctions">
    @foreach (var knjiga in Model)
    {
        <br />
        <br />
        <section class="auctions">
            <div class="title">@(knjiga.Naslov ?? "")</div>
            <div class="overview">
                <img src="@Url.Content(knjiga.SlikaURL)" alt="@knjiga.Naslov" />
                <p>
                    <strong>Current Price: </strong>
                    <span class="price">@knjiga.Cijena</span>
                </p>
            </div>
            <h3>Description</h3>
            <div class="description">
                @knjiga.Opis
            </div>
        </section>
    }
</section>
